IndentWidth: 4          # 缩进 4 个空格
TabWidth: 4
UseTab: Never           # Never = 空格缩进，Always = Tab
ContinuationIndentWidth: 4
ColumnLimit: 0            # 一行最大长度，0 表示不限制
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: None
